---
import GroupFooterNav from "../components/blocks/GroupFooterNav.astro";
import Container from "../components/shared/Container.astro";
import FooterNav from "../components/shared/FooterNav.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import FooterBackground from "../components/blocks/FooterBackground.astro";
import SocialLinks from "../components/shared/SocialLinks.astro";

import { ui, defaultLang } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';



const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// 获取当前语言的 footer 数据
const footerSupport = t("footerSupport");
const footerProduct = t("footerProduct");
const footerLove = t("footerLove");
const product = t("footer.product");
const support = t("footer.support");
const love = t("footer.love");

---

<div class="relative mt-16">
  <FooterBackground />
  
  <footer class="relative bg-gradient-to-tr from-slate-100/85 to-zinc-200/85 dark:from-slate-800/85 dark:to-zinc-800/85 pt-28 rounded-t-3xl backdrop-blur-md">
    <Container className="pb-8 relative overflow-auto">
      <div class="grid grid-cols-2 lg:grid-cols-2 lg:items-stretch gap-8 relative">
        <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
          <div class="h-full">
            <a href="#" class="relative flex items-center gap-3">
              <div class="inline-flex text-lg font-semibold text-heading-1">
                ClipTrack
              </div>
            </a>
            <Paragraph className="mt-8">
              {t("footer.title")}
            </Paragraph>
          </div>
          <SocialLinks />
        </div>

        <GroupFooterNav>
          <FooterNav title={t("footer.product")}  navItems={footerProduct} />
          <FooterNav title={support} navItems={footerSupport} />
          <FooterNav title={love} navItems={footerLove} />
        </GroupFooterNav>
      </div>
    </Container>

    <div class="py-2 relative">
      <Container>
        <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
          <p class="text-sm text-gray-500 dark:text-gray-400">
            © 2024 ClipTrack. All rights reserved.
          </p>
        </div>
      </Container>
    </div>
  </footer>
</div>